*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 225, 227);
}
.main{
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0px 0px 5px 1px;
    background-color: rgb(123 105 171);
}
.main input{
    padding: 13px 40px;
    border-radius: 4px;
    border: none;
    margin-bottom:10px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.row button{
    font-size: 17px;
    padding: 5px;
    width: 53px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    line-height: 2;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
